.MuiInputLabel-root {
  font-size: 9px !important;
  /* padding-bottom: 20px !important; */
}

.MuiInput-root {
  height: 12px !important;
}
.MuiOutlinedInput-root{
  height: 30px !important;
}
.App {
  margin-top: 100px;
}
@media screen and (max-width: 650px) {
  .App {
    margin-top: 80px;
  }
}
