.MuiInputLabel-root {
  font-size: 9px !important;
  /* padding-bottom: 20px !important; */
}

.MuiInput-root {
  height: 12px !important;
}
.MuiOutlinedInput-root{
  height: 30px !important;
}
.App {
  margin-top: 100px;
}
@media screen and (max-width: 650px) {
  .App {
    margin-top: 80px;
  }
  .buy-intro img {
    width: 120px; 
    height: 150px;
  }
}

@media screen and (min-width: 651px) {
  .buy-intro img{
    width: 240px; 
    height: 300px;
  }
}

@media screen and (min-width: 1024px) {
  .buy-intro img{
    width: 300px; 
    height: 360px;
  }
}